
<!DOCTYPE html>
<html>
    <head>
        <title>View Products</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/Product/bootstrap.css" rel="stylesheet">
        <link href="/static/Product/bootstrap-responsive.css" rel="stylesheet">

    </head>
    <body>

        <!-- NAVBAR================================================== -->
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand">CEG 21 Hypermarket</a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-right">
                            <li class="active"><a href="#"> <i class="icon-home icon-white"></i> Home</a></li>
                            <li><a href="{%url 'filter_products'%}"><i class="icon-star icon-white"></i> Products</a></li>
                            <li><a href="{%url 'filter_stores'%}"><i class="icon-book icon-white"></i> Stores</a></li>
                            <li><a href="#"><i class="icon-camera icon-white"></i> Employees</a></li>
                            <li><a href="#"><i class="icon-comment icon-white"></i> Transactions</a></li>
                            <form class="navbar-search pull-left">
                                <input type="text" class="search-query" placeholder="Search">
                            </form>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->


        <!-- Guestbook================================================== -->
     
	        <div class="container">
				  
				<form action="{% url 'view_product'%}" method="get">
				<h4>Select a product category</h4>
				
				<select id="cate" class="selectpicker" name="cate">
				{% for c in categories %}
				<option>{{c}}</option>
				{% endfor %}
				<option>All</option>
				</select>			   
				</br><input type="submit" value="Submit" class="btn">
						
				</form>	
            </div>    
               
        <!-- JavaScript placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/static/Product/bootstrap.min.js"></script>
       
  </body>
</html>