<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Adding a Transaction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/Website/bootstrap.css" rel="stylesheet">
    <link href="/static/Website/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/Website/bootstrap-rowlink.css" rel="stylesheet">
</head>

<body>

        <!-- NAVBAR================================================== -->
        <div class="container">
                    <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <h1 class="muted">CEG 21 HyperMarket</h1>
                </div>

                <div class="span4 offset2" style="margin-top:15px;">
                    <button class="btn pull-right" type="button">
                        {% if user.is_authenticated %}
                            <p style="text-align:right"> <a href="/accounts/logout">Logout</a></p>
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-left">
                            <li><a href="../../home"> <i class="icon-home icon-white"></i>Home</a></li>
                            <li><a href="../../Product"><i class="icon-star icon-white"></i>Products</a></li>
                            <li><a href="../../Store"><i class="icon-book icon-white"></i>Stores</a></li>
                            <li><a href="#"><i class="icon-camera icon-white"></i>Employees</a></li>
                            <li class="active"><a href="../../Transactions"><i class="icon-comment icon-white"></i>Transactions</a></li>
                            <form class="navbar-search">
                            <input type="text" class="search-query" placeholder="Search"> 
                            </form>
                                
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% if user.is_authenticated %}
                                    <p class="navbar-text pull-right"> Signed in as <a href="#" class="navbar-link">{{ user.first_name }}</a></p>
                    {% else %}
                                    <p class="navbar-text pull-right"> Welcome. <a href="/accounts/login" class="navbar-link">Please log in.</a></p>
                    {% endif %}
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->


<form action = "{%url 'transaction_added' %}" method="get">
<div class="container">
<div class="input-group input-group-sm">
  <span class="input-group-addon">Transaction ID</span>
  <input type="text" class="form-control" placeholder="Transaction ID" name="transaction_id">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Cash Register ID</span>
  <input type="text" class="form-control" placeholder="Cash Register ID" name="cashier_id">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Store ID</span>
  <input type="text" class="form-control" placeholder="Store ID" name="store_id">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Product ID</span>
  <input type="text" class="form-control" placeholder="Product ID" name="product_id">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Batch ID</span>
  <input type="text" class="form-control" placeholder="Batch ID" name="batch_id">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Quantity</span>
  <input type="text" class="form-control" placeholder="Quantity" name="quantity_sold">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Selling Price</span>
  <input type="text" class="form-control" placeholder="Selling Price" name="selling_price">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Purchase Date</span>
  <input type="text" class="form-control" placeholder="Purchase Date" name="transaction_date">
</div>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Submit</a>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Submit</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to submit?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
    <input type="submit" value="Submit" class="btn">
  </div>
</div-
</form>

<div class="container">
            <a href="/Transactions/" class="btn btn-primary btn-sm">Back</a>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/Website/bootstrap.min.js"></script>

</body>
</html>