<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}templates/base.html{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/Website/bootstrap.css" rel="stylesheet">
    <link href="/static/Website/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/Website/jquery.js"></script>
    <script src="/static/Website/jquery.dataTables.js"></script>
    <script src="/static/Website/DT_bootstrap.js"></script>
</head>

<body>

        <!-- NAVBAR================================================== -->
        <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <h1 align="center" class="muted">CEG 21 Market Admin Portal</h1>
                </div>
            </div>
        </div>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-left">
                            <li class="active"><a href="#"> <i class="icon-home icon-white"></i>Home</a></li>
                            <li><a href="{%url 'inventory_control' curr_employee.store_id_id%}"><i class="icon-book icon-white"></i>Inventory</a></li>                          
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% if user.is_authenticated %}
                                    <p class="navbar-text pull-right"> Signed in as <a href="#" class="navbar-link">{{ user.first_name }}</a><a href="/accounts/logout" class="navbar-link"> | Logout</a></p>
                    {% else %}
                                    <p class="navbar-text pull-right"> Welcome. <a href="/accounts/login" class="navbar-link">Please log in.</a></p>
                    {% endif %}
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->

<div id="content">
    {% block content %}{% endblock %}
</div>

<script>
//   var beg = "/Website/view/";
//   var end = "/inventory-control?";
//   var scrt_var = request.user.groups.values_list('name',flat=True);
//   var link_var = beg + scrt_var[0] + end;
//   console.log(request.user.groups.values_list('name',flat=True));
    console.log('Test');
//   document.getElementById("InventoryLink").setAttribute("href",link_var);
</script>

</body>
</html>