{% extends "base_store.html" %}	

{% block addgeneral%}
<li><a href="{%url 'filter_stores'%}">View Stores</a></li>
<li><a href="{%url 'create_store'%}">Add Store</a></li>	
{%endblock%}
	
{% block create_store %}

<form action = "{%url 'store_created'%}" method="get">
<div class="container">
</br>
Address: <input type="text" class="input-xlarge" id="inputName" size="1000" name="address" required></br>
City: <input type="text" class="input-xlarge" id="inputName" size="1000" name="city" required></br>
Region: <select onchange="set_country(this,country,city_state)" size="1" name="region" required>
<option value=""selected="selected">Select Region</option>
<script type="text/javascript">
setRegions(this);
</script>
</select></br>
Country: <select name="country" size="1" disabled="disabled" onchange="set_city_state(this,city_state)" required></select></br>
State: <select name="city_state" size="1" disabled="disabled" onchange="print_city_state(country,this)"></select></br>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Submit</a>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Submit</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to add a new store?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
	<input type="submit" value="Yes" class="btn btn-primary">
  </div>
</div>
</form>

{%endblock%}