<!DOCTYPE html>

<html>

<head>
<title>Delete</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/Website/bootstrap.css" rel="stylesheet">
<link href="/static/Website/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/Website/bootstrap-rowlink.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#myModal').modal('show')
});
</script>
</head>
<body>	

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Discontinue</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to discontinue the product </br>
	Product ID:{{product.product_id}}  Name:{{product.name}}  </br>Manufacturer:{{product.manufacturer}}  Category:{{product.category}}
	</p>
  </div>
  <div class="modal-footer">
    <a href="{% url 'view_product' %}" class="btn">No</a>
    <a href="{% url 'product_deleted'  product.product_id%}" class="btn btn-primary">Discontinue</a>
  </div>
</div>

<script src="/static/Website/bootstrap.min.js"></script>
</body>
</html>