
{% extends "base_store.html" %}
{% block filter%}
			
<div id="widget" class="container">
<h4>Choose a store</h4>	
<form action="{% url 'view_stores'%}" method="get">
Choose Region: <select onchange="set_country(this,country,city_state)" size="1" name="region">
<option value=""selected="selected">Select Region</option>
<script type="text/javascript">
setRegions(this); 
</script>
</select>
Choose Country: <select name="country" size="1" disabled="disabled" onchange="set_city_state(this,city_state)"></select>
State: <select name="city_state" size="1" disabled="disabled" onchange="print_city_state(country,this)"></select>
City: <input type="text" name="city">
</br><input type="submit" value="Submit" class="btn">
</form>
</div>
			
{%endblock%}
			
			
			
			
			
			
			
			
			
			
			
		