{% extends "base_store.html" %}


      	{% block addspecific%}	
		<li><a href="{%url 'inventory_control' store.store_id%}">View inventory</a></li>	
		<li><a href="{%url 'add_inventory' store.store_id%}">Add inventory</a></li>	
		
		
        <form action="{%url 'search' store.store_id%}" method="get">
        <input type="text" class="search-query" name="product_id" placeholder="Search by product ID" style="float:right">	
        </form>	
		{%endblock%}



{% block inventory_control%}

<div class="container">
		<h4>Welcome to CEG21 HyperMarket at {{store.address}}, {{store.city}}, {{store.state}}, {{store.country}}</h4>	
</div></br>



<div class="container">
<h4>{{messageupdate}}</h4>
<h4>{{messagedelete}}</h4>
<h4>{{messageprodupdate}} {{product.product_id}}</h4>
<h4>{{messageadd}}</h4>
</div>
</br>

<div class="container">
<table class="table table-striped" data-provides="rowlink">  
        <thead>  
          <tr>  
            <th>Product ID</th>  
			<th>Batch ID</th>
            <th>Current Stock</th>  
            <th>Cost Price</th>  
            <th>Selling Price</th>   
			<th>Minimum Stock</th>
            <th>Expiry Date</th>			
          </tr>  
        </thead>  
        <tbody>  
		{% for b in batches %}
          <tr>  
            <td><a href="{% url 'edit_product' b.store_id_id b.product_id_id %}">{{b.product_id_id}}</td>  
            <td>{{b.batch_id}}</td>  
            <td>{{b.qty}}</td>  
            <td>{{b.cost_price}}</td> 
			<td>{{b.selling_price}}</td>
            <td>{{b.minimum_qty}}</td>
            <td>{{b.expiry_date}}</td>			
			<td><a href = "{% url 'edit_inventory' b.store_id_id b.batch_id b.product_id_id%}" class="btn">Edit</a></td>		
			<td><a href = "{% url 'delete_inventory' b.store_id_id b.batch_id b.product_id_id%}" class="btn">Delete</a></td>		
            </tr>
			{% endfor %}	
          </tbody>
          </table>
			
{%endblock%}			
			
		