<!DOCTYPE html>
<html>
    <head>
        <title>Store</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/Store/bootstrap.css" rel="stylesheet">
        <link href="/static/Store/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>

        <!-- NAVBAR================================================== -->
        <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <h1 align="center" class="muted">CEG 21 Market Admin Portal</h1>
                </div>
            </div>
        </div>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-left">
                            <li><a href="{% url 'home'%}"> <i class="icon-home icon-white"></i>Home</a></li>
                            <li class="active"><a href="{% url 'view_product'%}"><i class="icon-star icon-white"></i>Products</a></li>
                            <li><a href="{% url 'filter_stores'%}"><i class="icon-book icon-white"></i>Stores</a></li>
                            <li><a href="{% url 'view_employee' %}"><i class="icon-camera icon-white"></i>Employees</a></li>
                            <li><a href="{% url 'transaction_home'%}"><i class="icon-comment icon-white"></i>Transactions</a></li>
                            <li><a href="{% url 'store_revenue'%}"><i class="icon-comment icon-white"></i>Statistics</a></li>    
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% if user.is_authenticated %}
                                    <p class="navbar-text pull-right"> Signed in as <a href="#" class="navbar-link">{{ user.first_name }}</a><a href="/accounts/logout" class="navbar-link"> | Logout</a></p>
                    {% else %}
                                    <p class="navbar-text pull-right"> Welcome. <a href="/accounts/login" class="navbar-link">Please log in.</a></p>
                    {% endif %}
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->

		<div class ="container">
		<h4>Welcome to CEG21 HyperMarket at {{store.address}}, {{store.city}}, {{store.state}}, {{store.country}}</h4>
		</br>
		<h4>You have successfully created the product {{p.name}}</h4>	
		<form action = "{% url 'inventory_control' store.id%}" method="get">
		<input type="submit" value="Inventory Control">
		</form>	
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/static/Store/bootstrap.min.js"></script>
		
		</body>
		</html>