<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}templates/base.html{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/Website/bootstrap.css" rel="stylesheet">
    <link href="/static/Website/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>

        <!-- NAVBAR================================================== -->
        <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <h1 align="center" class="muted">CEG 21 Market Admin Portal</h1>
                </div>
            </div>
        </div>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-left">
                            <li><a href="{% url 'home_regionalManager' %}"> <i class="icon-home icon-white"></i>Home</a></li>
                            <li><a href="/Website/view-product"><i class="icon-star icon-white"></i>Products</a></li>
                            <li><a href="/Website/view-stores"><i class="icon-book icon-white"></i>Stores</a></li>
                            <li class="active"><a href="#"><i class="icon-camera icon-white"></i>Employees</a></li>
                            <li><a href="/Website/transaction_home"><i class="icon-comment icon-white"></i>Transactions</a></li>
                            <li><a href="{% url 'store_revenue'%}"><i class="icon-comment icon-white"></i>Statistics</a></li>               
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% if user.is_authenticated %}
                                    <p class="navbar-text pull-right"> Signed in as <a href="#" class="navbar-link">{{ user.first_name }}</a><a href="/accounts/logout" class="navbar-link"> | Logout</a></p>
                    {% else %}
                                    <p class="navbar-text pull-right"> Welcome. <a href="/accounts/login" class="navbar-link">Please log in.</a></p>
                    {% endif %}
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->

<div class="container">
    <h2>Employee List</h2>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="example" aria-describedby="example_info">  
        <thead>  
          <tr>  
            <th>Email</th>  
            <th>Store No.</th>  
            <th>Designation</th> 
            <th>Address</th> 
            <th>Phone</th>  
          </tr>  
        </thead>  
        <tbody>  
         {% for e in employee_list %}
          <tr>  
            <td>{{e.employee_email}}</td>     
            <td>{{e.store_id_id}}</td>  
            <td>{{e.designation}}</td>
            <td>{{e.address}}</td>
            <td>{{e.phone}}</td>
           </tr> 
         {% endfor %}    
        </tbody>  
    </table> 
</div>
</body>
</html>