       {% extends "base_product.html" %}		
		{% block view_products %}
		<div class="container">
		<h5>{{message}} {{pr.name}}</h5>
		<h5>{{messagedelete}} {{product.name}}</h5>
		<h5>Click on product ID to view store-wise inventory of product</h5>
		
		
		<style type="text/css">
        table { page-break-inside:auto }
        tr    { page-break-inside:avoid; page-break-after:auto }
        thead { display:table-header-group }
        tfoot { display:table-footer-group }
        </style>
				
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="example" aria-describedby="example_info" data-provides="rowlink">  
        <thead>		
          <tr> 
            <th>Product ID</th> 		  
            <th>Name</th>  
            <th>Manufacturer</th>  
            <th>Category</th>  
			<th>Minimum Restock</th>
			<th>Status</th>
          </tr>  
        </thead>  
        <tbody>  
		 {% for p in products %}
          <tr>  
		    <td><a href="{% url 'view_storewise' p.product_id %}">{{p.product_id}}</a></td>
            <td>{{p.name}}</td>     
            <td>{{p.manufacturer}}</td>  
            <td>{{p.category}}</td> 
            <td>{{p.min_restock}}</td>
			<td>{{p.status}}</td>
            <td><a href = "{% url 'delete_product' p.product_id %}" input type="submit" class="btn">Discontinue</a></td>			
          </tr> 
         {% endfor %}		  
        </tbody>  
      </table>	
	  </div>
	  {%endblock%}