
<!DOCTYPE html>
<html >
    <head>
        <title>View Products</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="/static/js/transaction.js"></script>
    </head>
    <body ng-app="myApp" ng-controller = "TransactionCtrl" >
        <div class="outer">	
			<div class="first" style="white-space:nowrap; float:left; margin-left:200px; margin-top:70px";>
				<label for="barcode" style="white-space:nowrap; float:left";"width:405px";> Barcode </label>
				<input ng-model = "barcode" type="text" id="barcode" placeholder="Enter Product Barcode"/>
			</div>
			<div class="second" style="white-space:nowrap; float:left; margin-left:50px; margin-top:70px";>
				<label for="quantity" style="white-space:nowrap; float:left"; "width:405px";>Quantity </label>
				<input ng-model = "quantity" type="text" id="quantity" placeholder="Enter Product Quantity"/>
			</div>
			<div class="third" style="float:left; margin-left:50px; margin-top:70px";>
				<a ng-href='#here' ng-click="loadTransaction(barcode,quantity)" role="button" class="btn" data-toggle="modal">Add Product</a>
			</div>
			<div class="fourth" style="float:left; margin-left:50px; margin-top:70px";>
				<a ng-href='#cancel' ng-click="cancelTransaction()" role="button" class="btn" data-toggle="modal">Cancel Transaction</a>
			</div>
			<div class="fifth" style="float:left; margin-left:50px; margin-top:70px";>
				<a ng-href='#checkOut' ng-click="checkOut()" role="button" class="btn" data-toggle="modal">Check Out</a>
			</div>
	    <div>
		<table>  
          <tr>  
            <th>Barcode</th>  
            <th>Name</th>  
			<th>Quantity</th>  
			<th>Price</th> 
          </tr>  
		</table>
		<table>
		
          <tr ng-repeat="i in inventory" ng-controller = "TransactionCtrl">  
		  		{% verbatim %}

            <td>{{i.barcode}}</td>     
            <td>{{i.name}}</td>  
            <td>{{i.qty}}</td>  
			<td>{{i.price}}</td> 
				{% endverbatim %}

          </tr> 	  
      </table>	
	  </div>
	  </div>
	  <style>
		  table {
		  border: 1px solid #666;   
		  width: 100%;
		}
		th {
		  background: #f8f8f8; 
		  font-weight: bold;    
		  padding: 2px;
		}
	  </style>
        <!-- JavaScript placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </body>
</html>