<!DOCTYPE html>
<html>
	<head>
	<title>View Inventory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/navbar.css" rel="stylesheet">
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/bootstrap-rowlink.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootbox.min.js"></script>
	<script src="/static/js/inventory.js"></script>
	
			<div class="container">
            <div class="row-fluid">
            <div class="span12">
                <div class="span8">
                    <h5 class="muted">CEG 21 HyperMarket</h5>
                </div>
            </div>
			</div>
			
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-left">
                            <li id="product-link"><a href="{% url 'product'%}"></i>Products</a></li>
                            <li id="stock-link"><a href="{% url 'inventory'%}"></i>Stock</a></li>
							<li id="display-link"><a href="{% url 'display'%}"></i>Price Display</a></li>
                            <li id="sync-link"><a href="{% url 'sync'%}"></i>Sync</a></li>
                            <li id="transaction-link"><a href="{% url 'transaction'%}"></i>Transactions</a></li>     
                        </ul>
                                                <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                            <li id="logout-link"><a href="{% url 'logout'%}"></i>Logout</a></li> 
                        {% else %}
                            <li id="login-link"><a href="{% url 'login'%}"></i>Login</a></li> 
                        {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
                                    {% if user.is_authenticated %}
                                    <p class="navbar-text pull-right"> Signed in as <a href="#" class="navbar-link">{{ user.first_name }}</a></p>
                    {% else %}
                                    <p class="navbar-text pull-right"> Welcome. <a href="/accounts/login" class="navbar-link">Please log in.</a></p>
                    {% endif %}
            </div><!-- /.navbar -->
		</div> <!-- /.container -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
</br>

<div class="container">
Product ID: <input type="text" size="1000" id="product_id_id" value="{{inventory.product_id_id}}" readonly></br>
Batch ID: <input type="text" size="1000" id="batch_id" value="{{inventory.batch_id}}" readonly></br>
Qty: <input type="text" size="1000" id="qty" value="{{inventory.qty}}" readonly></br>
Cost Price: <input type="text" size="1000" id="cost_price" value="{{inventory.cost_price}}" readonly></br>
Selling Price: <input type="text" size="1000" id="selling_price" value="{{inventory.selling_price}}" required></br>
Minimum Qty: <input type="text" size="1000" id="minimum_qty" value="{{inventory.minimum_qty}}" required></br>
Strategy Percentage: <input type="text" size="1000" id="strategy_percentage" value="{{inventory.strategy_percentage}}" required></br>
Display ID:<input type="text" size="1000" id="display_id" value="{{inventory.display_id}}" readonly></br>
Expiry Date: (in YYYY-MM-DD format) <input type="text" size="1000" id="expiry_date" value="{{inventory.expiry_date}} " readonly></br>
<button id ="cancel" class="btn">Cancel</button> &nbsp;
<button id ="editInventory" class="btn btn-primary">Submit</button>
</div>


</html>