<html>
    <head>
        <div class="container">
            <div class="row-fluid">
            <div class="span12">
                <div class="span8">
                    <h5 class="muted">CEG 21 HyperMarket</h5>
                </div>
            </div>
			</div>
			
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-left">
							<li id="home-link"><a href="{% url 'home'%}"></i>Home</a></li>
                            <li id="product-link"><a href="{% url 'product'%}"></i>Products</a></li>
                            <li id="stock-link"><a href="{% url 'inventory'%}"></i>Stock</a></li>
							<li id="display-link"><a href="{% url 'display'%}"></i>Price Display</a></li>
                            <li id="sync-link"><a href="{% url 'sync'%}"></i>Sync</a></li>
                            <li id="transaction-link"><a href="{% url 'transaction'%}"></i>Transactions</a></li>     
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
		</div> <!-- /.container -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
	<div class="container">
		<div >
		<a href="{% url 'transaction_sync'%}" role="button" class="btn" data-toggle="modal">SYNC TRANSACTION WITH HQ</a>
		</div>
		<div>
		<a href="{% url 'inventory_sync'%}" role="button" class="btn" data-toggle="modal">SYNC INVENTORY WITH HQ</a>
		</div>
		<div>
		<a href="{% url 'request_details_sync'%}" role="button" class="btn" data-toggle="modal">RESTOCK WITH HQ</a>
		</div>
		<div>
		<a href="{% url 'product_sync'%}" role="button" class="btn" data-toggle="modal">PRODUCT SYNC WITH HQ</a>
		</div>
		<div>
		<a href="{% url 'pull_product_from_hq'%}" role="button" class="btn" data-toggle="modal">PULL PRODUCT FROM HQ</a>
		</div>
		<div>
		<a href="{% url 'pull_inventory_from_hq'%}" role="button" class="btn" data-toggle="modal">PULL INVENTORY FROM HQ</a>
		</div>
		<div>
		<a href="{% url 'update_perishable_price'%}" role="button" class="btn" data-toggle="modal">PRICING STRATEGY</a>
		</div>
		<div>
		<a href="{% url 'update_nonperishable_price'%}" role="button" class="btn" data-toggle="modal">PRICING STRATEGY FOR NON PERISHABLES</a>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/static/css/bootstrap.min.js"></script>
	 <style>
        #btn {
			position:absolute;
            left: 500px;
			bottom: 300px;
        }
    </style>
	</div>
	</body>
</html>