<html>
    <head>
        <title>View Products</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div>
		<a href="{% url 'transaction_sync'%}" role="button" class="btn" data-toggle="modal">SYNC TRANSACTION WITH HQ</a>
		</div>
		<div>
		<a href="{% url 'sync_with_hq'%}" role="button" class="btn" data-toggle="modal">SYNC WITH HQ</a>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/static/css/bootstrap.min.js"></script>
	 <style>
        #btn {
			position:absolute;
            left: 500px;
			bottom: 300px;
        }
    </style>
	</body>
</html>