<!doctype html>
<html>
	<head>
	<title>View Products</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" rel="stylesheet">
	<link href="/static/css/navbar.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/static/js/jquery.js"></script>
	<link rel="stylesheet" href="/static/css/screen.css" />
	<script src="/static/js/sync.js"></script>
	<script src="/static/js/bootbox.min.js"></script>
        <div class="container">
            <div class="row-fluid">
            <div class="span12">
                <div class="span8">
					<h1>hello </h1>
					<br>
                </div>	
				</div>
			</div>		
  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			  <li id="product-link"><a href="{% url 'product'%}"></i>Products</a></li>
                 <li id="stock-link"><a href="{% url 'inventory'%}"></i>Stock</a></li>
                 <li id="display-link"><a href="{% url 'display'%}"></i>Price Display</a></li>
                 <li class ="active" id="sync-link"><a href="{% url 'sync'%}"></i>Sync</a></li>
                 <li id="transaction-link"><a href="{% url 'transaction'%}"></i>Transactions</a></li>     
			</ul>
		  </div><!-- /.navbar-collapse -->
	</nav>
	</div> <!-- /.container -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
	<div class="container">
		<button id ="syncTransaction" type="button" class="btn btn-default btn-lg">
		  <span class="glyphicon glyphicon-cloud-upload"></span> Sync Transaction
		</button>
		<br>
		<br>
		<button id ="SyncInventory" type="button" class="btn btn-default btn-lg">
		  <span class="glyphicon glyphicon-cloud-upload"></span> Sync Inventory
		</button>
		<br>
		<br>
		<button id ="Restock" type="button" class="btn btn-default btn-lg">
		  <span class="glyphicon glyphicon-cloud-upload"></span> Send Restock Request
		</button>
		<br>
		<br>
		<button id ="SyncProduct" type="button" class="btn btn-default btn-lg">
		  <span class="glyphicon glyphicon-cloud-upload"></span> Sync Product
		</button>
		<br>
		<br>
	 <style>
        #btn {
			position:absolute;
            left: 500px;
			bottom: 300px;
        }
    </style>
	</div>
	</body>
</html>