{% extends "cart_base.html" %}

{% block cart%}

<script src="/static/js/cart.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<form action="{%url 'order_placed'%}" method="get">
<div class="container">
<table class="table" id="item-table">  
        <thead>  
          <tr>
            <th class="span6">Product Name</th>  
            <th class="span6">Quantity</th>  
            <th class="span6">Price</th>    
			<th class="span6">Subtotal</th>	
          </tr>  
        </thead>  
</table>
<hr/>
<div>Total: $<span id = "total-price">0</span></div><hr/>
<div class="modal-footer">
	<button class="btn" id ="cancel" >Close</button>
	<button id ="confirm-checkout" class="btn btn-primary">Checkout</button>
</div>
</div>

</form>
{% endblock%}