{% extends "cart_base.html" %}

{% block cart%}
<link href="/static/css/bootstrap-rowlink.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/cart.js"></script>
<div class="container">

<table class="table" id="item-table">  
        <thead>  
          <tr>
            <th class="span6">Product Name</th>  
            <th class="span6">Quantity</th>  
            <th class="span6">Price</th>    
			<th class="span6">Subtotal</th>	
          </tr>  
        </thead>  
</table>
<hr/>
<div>Total: $<span id = "total-price">0</span></div><hr/>
<div class="modal-footer">
	<button class="btn" id ="cancel" >Close</button>
	{% if user.is_authenticated %}
	<button id ="confirm-checkout" class="btn btn-primary">Checkout</button>
	{% else %}
	<button onClick="location.href='/accounts/login?next=/Customer/cart';" class="btn btn-primary">Checkout</button>	
	{% endif %}
	</div>
</div>
{% endblock%}