
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/Customer/bootstrap.css" rel="stylesheet">
    <link href="/static/Customer/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>

 <!-- NAVBAR================================================== -->
        <div class="container">
                    <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <h1 class="muted">Online Shopping Portal</h1>
                </div>
                <div class="span4 offset2" style="margin-top:15px;">
                    <button class="btn pull-right" type="button">
                        {% if user.is_authenticated %}
                            <p style="text-align:right"> <a href="/Website/accounts/logout">Logout</a></p>
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-left">
                            <li><a href="#"> <i class="icon-home icon-white"></i>Home</a></li>
                            <li><a href="#"><i class="icon-star icon-white"></i>Browse</a></li>
                            <li><a href="#"><i class="icon-book icon-white"></i>About Us</a></li>
                            <li><a href="#"><i class="icon-camera icon-white"></i>My Cart</a></li>
                            <li><a href="#"><i class="icon-comment icon-white"></i>My Profile</a></li>          
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% if user.is_authenticated %}
                                    <p class="navbar-text pull-right"> Signed in as <a href="#" class="navbar-link">{{ user.first_name }}</a></p>
                    {% else %}
                                    <p class="navbar-text pull-right"> Welcome. <a href="/accounts/login" class="navbar-link">Please log in.</a></p>
                    {% endif %}
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->


        <div class="container"> 
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                         <img src="img/lapland.jpg" alt="">
                        <div class="carousel-caption">
                            <div id="slide-content-0">
                            <h4>Buy One, Get One Free!</h4>
                            <a class="btn btn-info" target="_blank" href=_blank>Click here</a>
                        </div>
                        </div>
                    </div>
                    <div class="item">
                         <img src="img/lapland.jpg" alt="">
                        <div class="carousel-caption">
                            <div id="slide-content-1">
                            <h4>Learn more about our store!</h4>
                            <a class="btn btn-info" target="_blank" href="_blank">Click here</a>
                        </div>
                        </div>
                    </div>
                    <div class="item">
                         <img src="img/lapland.jpg" alt="">                        
                         <div class="carousel-caption">
                            <div id="slide-content-2">
                            <h4>Christmas Sale!</h4>
                            <a class="btn btn-info" target="_blank" href="_blank">Click Here</a>
                        </div>
                        </div>
                    </div>
                </div> <!-- /.carousel-inner --> 
                <!-- Carousel nav -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

            </div><!-- /.carousel -->
        </div>
        <!-- JavaScript placed at the end of the document so the pages load faster -->
        <script src="static/Customer/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.carousel').carousel();
                });
        </script>  
  </body>
</html>