<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Home Page</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/Customer/bootstrap.css" rel="stylesheet">
    <link href="/static/Customer/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/Customer/engine1/style.css" />
	<script type="text/javascript" src="/static/Customer/engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->
</head>



 <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    <h1 align="center" class="muted">CEG 21 Online Shopping Portal</h1>
                </div>
            </div>
        </div>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-left">
                            <li class="active"><a href="{% url 'customer_home'%}"> <i class="icon-home icon-white"></i>Home</a></li>
                            <li><a href="{% url 'inventory_list'%}"><i class="icon-star icon-white"></i>Browse</a></li>
                            <li><a href="{% url 'cart'%}"><i class="icon-camera icon-white"></i>My Cart</a></li>  
							<li><a href="{% url 'about_us' %}"><i class="icon-book icon-white"></i>About Us</a></li>	
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% if user.is_authenticated %}
                                    <p class="navbar-text pull-right"> Signed in as <a href="#" class="navbar-link">{{ user.first_name }}</a><a href="/accounts/logout" class="navbar-link">| Logout</a></p>
                    {% else %}
                                    <p class="navbar-text pull-right"> Welcome. <a href="/accounts/login" class="navbar-link">Please log in.</a></p>
                    {% endif %}
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->

<body>
	<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
<li><img src="/static/Customer/data1/images/diwaliblog.png" alt="diwaliblog" title="Diwali Sale" id="wows1_0"/></li>
<li><img src="/static/Customer/data1/images/logo.png" alt="logo" title="CEG 21 Hypermarket" id="wows1_1"/></li>
<li><img src="/static/Customer/data1/images/market.jpg" alt="market" title="Fresh Fruits" id="wows1_2"/></li>
</ul>
</div>
<div class="ws_bullets"><div>
<a href="#" title="Diwali Sale"><img src="/static/Customer/data1/tooltips/diwaliblog.png" alt="diwaliblog"/>1</a>
<a href="{%url 'about_us' %}" title="CEG 21"><img src="/static/Customer/data1/tooltips/logo.png" alt="logo"/>2</a>
<a href="#" title="Fresh Fruits"><img src="/static/Customer/data1/tooltips/market.jpg" alt="market"/>3</a>
</div></div>
	<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="/static/Customer/engine1/wowslider.js"></script>
	<script type="text/javascript" src="/static/Customer/engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->
</body>
            <div class="row-fluid">
            <div align="center" class="span12">
                <div>
                    <h1 align="center">Welcome!!</h1>
                </div>
            </div>
        </div>
		<script>
		$( document ).ready(function() {
		var searchString = 'WOWSlider.com';
		var elements = document.getElementsByTagName('a')
		for (var i = 0; i < elements.length; i++) {
			if (elements[i].innerHTML.indexOf(searchString) !== -1) {
				elements[i].remove();
			}
		}
		});
		</script>
</html>