<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Buy Products</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/static/js/bootstrap-switch.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap-switch.css">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/bootstrap-rowlink.css" rel="stylesheet">
	<script src="/static/js/bootstrap.min.js"></script>
	<link href="/static/css/demo_table.css">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.dataTables.js"></script>
	<script src="/static/js/DT_bootstrap.js"></script>
	
	
	<div class="make-switch switch-large">
    <input type="checkbox" checked>
</div>

</head>
</html>