<html>
<head>
    <title>Create New Store</title>
</head>
<body>
	<h2>
	Creating New Store</h2>
	<form action="{% url 'created_store'%}" method="get">
	Address Line 1: <input type="text" name="addr1"><br>
	Address Line 2: <input type="text" name="addr2"><br>
	City: <input type="text" name="city"><br>
	State: <input type="text" name="state"><br>
	Country: <input type="text" name="country"><br>
    <select name="region" size="6"><option value="APAC">Asia-Pacific</option><option value="Americas">Americas</option><option value="EMEA">Europe , Middle East , Africa</option></select>
    <input type="submit" value="Submit">
    </form>
</body>
</html>