<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title>View Stores</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/Store/bootstrap.css" rel="stylesheet">
<link href="/static/Store/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/Store/bootstrap-rowlink.css" rel="stylesheet">
</head>

<body>

<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand">CEG 21 Hypermarket</a>
                    <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                    <div class="nav-collapse ">
                        <ul class="nav pull-right">
                            <li class="active"><a href="#"> <i class="icon-home icon-white"></i> Home</a></li>
                            <li><a href="{%url 'filter_products'%}"><i class="icon-star icon-white"></i> Products</a></li>
                            <li><a href="{%url 'filter_stores'%}"><i class="icon-book icon-white"></i> Stores</a></li>
                            <li><a href="#"><i class="icon-camera icon-white"></i> Employees</a></li>
                            <li><a href="../../Transactions"><i class="icon-comment icon-white"></i> Transactions</a></li>
                            <form class="navbar-search pull-left">
                                <input type="text" class="search-query" placeholder="Search">
                            </form>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
        </div> <!-- /.container -->

<div class="container">
		<h4>Welcome to CEG21 HyperMarket at {{store.address}}, {{store.city}}, {{store.state}}, {{store.country}}</h4>	
</div></br>

<div class="container">
<a href="{%url 'create_product' store.store_id%}" type="button" class="btn">Add a new product
</a>
</div>

<div class="container">
<table class="table table-striped" data-provides="rowlink">  
        <thead>  
          <tr>  
            <th>Name</th>  
            <th>Manufacturer</th>  
            <th>Category</th>  
            <th>Selling Price</th>  
			<th>Quantity</th> 
          </tr>  
        </thead>  
        <tbody>  
		{% for p in p_b %}
          <tr>  
            <td>{{p.name}}</td>  
            <td>{{p.manufacturer}}</td>  
            <td>{{p.category}}</td>  
            <td>{{p.selling_price}}</td> 
			<td>{{p.qty}}</td> 
			<td><a href = "{% url 'edit_product' p.store_id p.batch_id p.product_id%}" input type="submit" class="btn">EDIT</a></td>
			<form action = "{%url 'product_deleted' p.store_id p.batch_id p.product_id%}">
			<td><a href="#mymodal" role="button" class="btn" data-toggle="modal">Delete</a></td>
          </tr> 
         {% endfor %}		  
        </tbody>  
      </table>	


 <div id="mymodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Submit</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
	<input type="submit" class="btn" value="Yes">
  </div>
</div>	
</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/Store/bootstrap.min.js"></script>
</body>
</html>
